*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background: #000;
    min-width: 100vw;
    font-family: 'monospace';
}

.content-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.btn-change{
    padding: 2rem 1.25rem;
    opacity: .6;
    color: white;
    font-weight: 400;
    background-color: #3f3f3f;
    transition: .5s ease;
    max-height: 200px;
}

.btn-change:hover{
    opacity: 1;
    font-weight: 900;
    cursor: pointer;
}

.content{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.text{
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    color:white;
    margin: 0 10px;
    background-color: #8080806b;
    padding: 2rem;
}

.footer{
    width: 100%;
    display: none;
    justify-content: space-around;
    transition: .75s ease;
}

.footer .automatic input{
    max-width: 100%;
}

.header{
    display: flex;
    background-color: #8080806b;
    margin-left: 1rem;
    margin-top: 1rem;
    max-width: 150px;
    justify-content: center;
    padding: 10px;
}

.automatic{
    display: flex;
    background-color: #8080806b;
    margin-left: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
    padding: 10px;
    align-items: center;
}

.toggle{
    display: flex;
    align-items: center;
    min-width: 40px;
    min-height: 25px;
    margin-left: 10px;
    max-height: 10px;
    border-radius: 25px;
    background-color: #3f3f3f;
}

.toggle:hover{
    cursor: pointer;
}

.toggle-ball{
    min-width: 20px;
    min-height: 20px;
    max-width: 20px;
    max-height: 20px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 2px;
}

.current{
    margin-left: auto;
    display: flex;
    background-color: #8080806b;
    margin-left: auto;
    margin-bottom: 1rem;
    min-width: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.index{
    color:#ffffff;
}

.patterns{
    display: flex;
    background-color: #8080806b;
    margin-left: auto;
    margin-right: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
    padding: 10px;
}

.round{
    min-width: 40px;
    min-height: 40px;
    max-height: 40px;
    max-height: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;
}

.round:not(:last-child){
    margin-right: 15px;
}

.pattern-0{
    background-image: linear-gradient(to bottom left, #CC99C9, #FEB144, #FF6663);
}

.pattern-1{
    background-image: linear-gradient(to bottom left, #F24171, #F2A922, #A62103);
}

.pattern-2{
    background-image: linear-gradient(to bottom left, #DE0003, #596CD9, #FF322F );
}

.pattern-3{
    background-image: linear-gradient(to bottom left, #FF2E03, #FCFF09, #003DE5);
}

.square{
    min-width: 40px;
    min-height: 40px;
    max-height: 40px;
    max-height: 40px;
    border-radius: 10px;
    object-fit: cover;
    border: 2px solid #fff;
    cursor: pointer;
}

.square:not(:last-child){
    margin-right: 10px;
}

.custom-modal{
    position: block;
    margin: auto;
    display: none;
}

.modal-body{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    min-height: 150px;
    max-width: 240px;
    max-height: 240px;
    padding: 1rem;
    border-radius: 15px;
    bottom: 10%;
    right: 1%;
}

.modal-body input, .footer input{
    border: #3f3f3f 1px dashed;
    padding: .25rem;
    margin: .75rem 0;
    background-color: #f5f5f5;
    transition: .25s ease
}

.modal-body input:hover, input:focus, input:active{
    background-color: #fdfdfd;
}

.modal-body button{
    border: #757575 1px dashed;
    padding: .25rem;
    background-color: #dadada;
    transition: .25s ease
}

.modal-body button:hover{
    cursor: pointer;
    background-color: #ececec;
}